---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Xyzzy_Nonexistent_Page_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 104.54.34.243
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"-1":{"site":"enwiki","title":"Xyzzy_Nonexistent_Page_12345","missing":""}},"success":1}'
  recorded_at: Fri, 10 Apr 2026 20:48:48 GMT
recorded_with: VCR 6.4.0
