---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&srsearch=xyzzy_totally_nonexistent_query_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Search-Id:
      - cig48ccx78swwaw1n43kb1k3i
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 104.54.34.243
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: Fri, 10 Apr 2026 20:47:31 GMT
recorded_with: VCR 6.4.0
