---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&srsearch=Los%20Angeles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Search-Id:
      - dbljv1pcsrxmnmzpf77fu5klg
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 104.54.34.243
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":41603},"search":[{"ns":0,"title":"Q65","pageid":192,"size":null,"wordcount":0,"snippet":"seat
        of Los Angeles County, and largest city in California, United States","timestamp":"2026-04-09T19:34:48Z"},{"ns":0,"title":"Q174710","pageid":174613,"size":null,"wordcount":0,"snippet":"public
        university in Los Angeles, California, USA","timestamp":"2026-04-06T18:54:14Z"},{"ns":0,"title":"Q16910","pageid":19658,"size":null,"wordcount":0,"snippet":"city
        in Chile","timestamp":"2026-03-27T19:12:34Z"},{"ns":0,"title":"Q104994","pageid":107655,"size":null,"wordcount":0,"snippet":"county
        in California, United States","timestamp":"2026-04-05T05:27:07Z"},{"ns":[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q65%7CQ174710%7CQ16910%7CQ104994%7CQ1026932%7CQ188515%7CQ849784%7CQ8143%7CQ8731%7CQ1641836&languagefallback=&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 104.54.34.243
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q65":{"pageid":192,"ns":0,"title":"Q65","lastrevid":2479872432,"modified":"2026-04-09T19:34:48Z","type":"item","id":"Q65","labels":{"en":{"language":"en","value":"Los
        Angeles"}},"descriptions":{"en":{"language":"en","value":"seat of Los Angeles
        County, and largest city in California, United States"}},"aliases":{"en":[{"language":"en","value":"Pink
        City"},{"language":"en","value":"The town of Our Lady the Queen of the Angels
        of the Little Portion"},{"language":"en","value":"La La Land"},{"language":"en","value":"Tinsel
        Town"},{"language":"en","value":"City of Angels"},{"language":"en","value":"City
        of Los Angeles"},{"language":"en","value":"LA, California"},{"language":"en","value":"LA"},{"language":"en","value":"Double
        Dubuque"},{"language":"en","value":"Los Angeles, CA"},{"language":"en","value":"L.A."}]},"claims":{"P1036":[{"mainsnak":{"snaktype":"value","property":"P1036","hash":"bd356fb18c59fc837cd070011402f440da686a4b","datavalue":{"value":"2--79494","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q65$c5f4e86d-482e-e72d-0b8b-cb45d71f4755","rank":"normal","references":[{"hash":"46796f3ac55f548efd329d36e5bf7351920c828f","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"019a50b7de741e0068bde41c9d9955b22a5de47b","datavalue":{"value":{"entity-type":"item","numeric-id":36578,"id":"Q36578"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P227":[{"snaktype":"value","property":"P227","hash":"c10e30c710444af705e38e010bfbcb25c61b610f","datavalue":{"value":"4036361-2","type":"string"},"datatype":"external-id"}],"P407":[{"snaktype":"value","property":"P407","hash":"46bfd327b830f66f7061ea92d1be430c135fa91f","datavalue":{"value":{"entity-type":"item","numeric-id":188,"id":"Q188"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"e92d27129c65e9f77f424e786fcfc2c47e96d5fe","datavalue":{"value":{"time":"+2021-06-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P227","P407","P813"]}]}],"P1151":[{"mainsnak":{"snaktype":"value","property":"P1151","hash":"9915323640980892f8afb748b780e68d87922106","datavalue":{"value":{"entity-type":"item","numeric-id":11074355,"id":"Q11074355"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q65$fcee5d52-4a10-b65e-4b30-597d6ff3d13a","rank":"normal"}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","hash":"be4c6eafa2984964f04be85667263f5642ba1a72","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q65$0CD492D7-4227-4FCB-886B-669B46A48139","rank":"normal","references":[{"hash":"46796f3ac55f548efd329d36e5bf7351920c828f","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"019a50b7de741e0068bde41c9d9955b22a5de47b","datavalue":{"value":{"entity-type":"item","numeric-id":36578,"id":"Q36578"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P227":[{"snaktype":"value","property":"P227","hash":"c10e30c710444af705e38e010bfbcb25c61b610f","datavalue":{"value":"4036361-2","type":"string"},"datatype":"external-id"}],"P407":[{"snaktype":"value","property":"P407","hash":"46bfd327b830f66f7061ea92d1be430c135fa91f","datavalue":{"value":{"entity-type":"item","numeric-id":188,"id":"Q188"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"e92d27129c65e9f77f424e786fcfc2c47e96d5fe","datavalue":{"value":{"time":"+2021-06-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P227","P407","P813"]},{"hash":"44f0dcd078b61739da10530395ad0676f9b5a73a","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"900221ba825824bf9727c3c47a2709392d6557fb","datavalue":{"value":{"entity-type":"item","numeric-id":60799,"id":"Q60799"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P4656":[{"snaktype":"value","property":"P4656","hash":"caa44626cf43df8f346fd3f8e1aa57a5003519c7","datavalue":{"value":"https://ky.wikipedia.org/w/index.php?title=\u041b\u043e\u0441_\u0410\u0301\u043d\u0436\u0435\u043b\u0435\u0441_(\u041a\u0430\u043b\u0438\u0444\u043e\u0440\u043d\u0438\u044f)&oldid=226611","type":"string"},"datatype":"url"}]},"snaks-order":["P143","P4656"]},{"hash":"8adfdf96101d5c32b6b769c4633401ec06e02307","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"88b1aea91b49e7281dc2608b867987d014c88992","datavalue":{"value":{"entity-type":"item","numeric-id":55259097,"id":"Q55259097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"e89ed975a583a10e83aa56ce16069435a04494bf","datavalue":{"value":{"time":"+2024-09-17T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P41":[{"mainsnak":{"snaktype":"value","property":"P41","hash":"022fc8d6b546dcb0d4a7d6df8330f21aae5c0fcc","datavalue":{"value":"Flag
        of Los Angeles, California.svg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"q65$8B3F8B65-372C-406B-A242-25B5D3D794FA","rank":"normal","references":[{"hash":"40cf3cc894b7e677d13103b12a215c8395fb551d","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P4656":[{"snaktype":"value","property":"P4656","hash":"e2bca3990e91d3ea4073048563ec529981246a45","datavalue":{"value":"https://de.wikipedia.org/w/index.php?title=Los_Angeles&oldid=212011366","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","hash":"e92d27129c65e9f77f424e786fcfc2c47e96d5fe","datavalue":{"value":{"time":"+2021-06-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P143","P4656","P813"]}]}],"P131":[{"mainsnak":{"snaktype":"value","property":"P131","hash":"7c16b560b32d05a2bd2457ce86fa983a6d6ef7d3","datavalue":{"value":{"entity-type":"item","numeric-id":104994,"id":"Q104994"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q65$9CF634B6-FFF1-40F8-BDE1-80F9A5BC6D25","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P194":[{"mainsnak":{"snaktype":"value","property":"P194","hash":"40f1b31aeee8e756153389a4ef2f2b846586d0db","datavalue":{"value":{"entity-type":"item","numeric-id":1870447,"id":"Q1870447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q65$3EA95EBD-FC0F-4F77-8649-7B562479BCDC","rank":"normal"}],"P30":[{"mainsnak":{"snaktype":"value","property":"P30","hash":"a6aff3b667825716468f212aa338f016b84f3def","datavalue":{"value":{"entity-type":"item","numeric-id":49,"id":"Q49"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q65$A8A6DAEA-2D8D-4DBA-B652-E26E109043B3","rank":"normal"}],"P163":[{"mainsnak":{"snaktype":"value","property":"P163","hash":"d2d153b2df91658f00ae1baa0378765b48da2d97","datavalue":{"value":{"entity-type":"item","numeric-id":1426622,"id":"Q1426622"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q65$20D2D6D4-EC33-427A-AA6F-8CA06ED7CD61","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"e3b1930b2a504e22596505b8a977fa72aefc93a1","datavalue":{"value":"Los
        Angeles","type":"string"},"datatype":"string"},"type":"statement","id":"q65$067C9C74-E8F7-4EB0-A805-A38D38F8691B","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"db91cba01cde9fefec8b8a247e11181cdc7f455c","datavalue":{"value":{"entity-type":"item","numeric-id":13218391,"id":"Q13218391"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P7452":[{"snaktype":"value","property":"P7452","hash":"f9f842b41f249e5504d48025c7ad6d7b5bfc7496","datavalue":{"value":{"entity-type":"item","numeric-id":71536040,"id":"Q71536040"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P7452"],"id":"q65$9B1D9297-0A26-4706-B8B3-C574277E3621","rank":"preferred","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"ba73239a71013be856fd038231377597d8b9bf9d","snaks":{"P813":[{"snaktype":"value","property":"P813","hash":"972e586d22d05738a96d6cc4e615aa85c1159be2","datavalue":{"value":{"time":"+2020-04-07T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","hash":"ae724e0dd9e959474efa1f6d90fd721ea5010b16","datavalue":{"value":"https://www.cacities.org/Resources-Documents/Resources-Section/Charter-Cities/Charter_Cities-List","type":"string"},"datatype":"url"}]},"snaks-order":["P813","P854"]}]},{"mainsnak":{"snaktype":"value","property":"P31","hash":"1d2d976b06b7bb208fadcff54975cc04295b93c0","datavalue":{"value":{"entity-type":"item","numeric-id":515,"id":"Q515"},"type":"wikibase-entityid"},"datatype":"wikibase[...]
